<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <body>
                  <div class="row mb-2">
                    <div class="col-md-6">
                      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                          <strong class="d-inline-block mb-2 text-primary">DEV ALEKSEEV</strong>
                          <h3 class="mb-0">BACKEND,FRONTEND</h3>
                          <p class="card-text mb-auto">Python,Django,VUE JS</p>
                          <a href="https://github.com/physrow" class="stretched-link"></a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                          <a href="https://ibb.co/WtwyNdS"><img src="http://pngimg.com/uploads/github/github_PNG93.png" alt="123" border="0"></a>
                        </div>
                      </div>
                    </div>
        </body>

</html>
